.archives {
  h3 {
    color:  $header-desc-background-color;
  }
  .meta {
    float: right;
    font-size: 0.7em;
    font-family: $font-family-main;
    @media screen and (max-width: $break){
        display: none;
    }
  }
}

