article,
.comments {
    @extend %padding-regular;
    border-bottom: 1px solid $border-color;
    float: left;
    width: 100%;
    padding: 0%;
}

article {
    header {
        margin-bottom: 6%;
        text-align: center;
    }
    a:hover {
        @extend .body-link;
    }
    .footnotes {
        font-size: 0.9em;
    }
    .post-content {
        padding: 0%;
    }
}

footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    .meta {
        color: rgba($text-color, 0.5);
        font-weight: 800;
        letter-spacing: 0.1em;
        display: inline;
        text-transform: uppercase;
    }
    a.button {
        margin-left: 1em;
    }
}

header {
    h1 {
        margin: 0;
    }
}

.meta {
    color: $text-color;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    font-family: $font-family-ui;
    //text-transform: uppercase;
}

/* --- Feature image --- */

.feature-image {
    padding: 0%;
    .post-link {
        color: $feature-image-text-color;
    }
    header {
        color: $feature-image-text-color;
        background-size: $feature-image-size;
        margin-bottom: 0;
        padding: $padding-large/2.5 $padding-large;
        .meta {
            color: rgba($feature-image-text-color, .7);
        }
    }
    .post-content {
        @extend %padding-regular;
        padding-bottom: 0;
    }
    footer {
        @extend %padding-regular;
        padding-top: 0;
    }
}

// Responsive scrolling
.feature-image header {
    @media screen and (max-width: $break) {
        padding: $padding-small $padding-small;
    }
}

/* --- Post navigation --- */

#post-nav {
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: flex;
    float: left;

    a,
    .page-title {
        display: inline-block;
    }

    .page-title {
        font-size: 1.2em;
        margin-bottom: 1em;
        width: 100%;
    }

    a {
        padding: 2em 3em;
        border: 1px solid rgba(255, 255, 255, 0);
        text-align: center;
        width: 50%;
    }

    i {
        vertical-align: middle;
    }
}

.post-nav-post {
    padding-top: $padding-x-small;
    padding-bottom: $padding-x-small;
}

div.colms-md-three-forth {
    width: 80%;
    float: left;
    padding-right: 10px;
}
div.colms-md-one-forth {
    width: 20%;
    float: left;
}

article {
    #main {
        margin-top: 5em;
    }
}
@media screen and (max-width: $break){
    div.colms-md-three-forth {
        width: 100%;
        padding-right: 0;
    }
    div.colms-md-one-forth {
        display: none;
    }
}

section.post-directory {
    width: 200px;
    background: #fff;
    padding-bottom: 1em;
    border: 1px solid #efefef;
    box-shadow: 1px 1px 2px rgba(0,0,0,.125);
    border-radius: 5px;
    color: $base00;
    p {
        margin-top: 1em;
        color: $text-color;
    }
    ul, ol {
        font-size: 1em;
        padding-left: 1.5em;
        list-style: circle;
        margin-left: 0%;
    }
    strong {
        font-family: $font-family-headings;
        border-left: 5px solid $border-color;
        padding: 2px 5px 2px 15px;
    }
    a {
        text-decoration: none;
        color: $text-color;
    }
    a:hover, a:active, a.on {
        color: $link-color;
    }
}

.post-tag {
    padding-bottom: 1em;
}